.myStockInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 51%;
  margin-right: 40px;
}

.myStockForm {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stockPrice {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stockValues {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.stockLowMax {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  margin-left: 5px;
}
