#news-header-container {
  background-color: #ffffff;
  min-height: 100px;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 100%;
  font-size: calc(10px + 2vmin);
  color: #000000;
  margin-bottom: 10px;
}

#news-header-title {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}

#news-header-button-container {
  grid-row: 1;
  grid-column: 3;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 40px;
  box-sizing: border-box;
}

#news-header-button-container button {
  font-size: x-small;
  font-weight: bold;
  height: 30px;
  margin: 5px 5px;
  border-radius: 3px;
  background-color: #567b95;
  color: #ffffff;
}

#news-header-time-temp-container {
  grid-row: 1;
  grid-column: 1;
  padding-right: 40px;
  padding-left: 50px;
}
