.horizontalNews {
  display: flex;
  flex-direction: row;
}

.horizontalNews {
   width: auto;
} 

.secNewsRoute {
  /* border: 1px solid red; */
}

.SectionTitle {
  /* border: 1px solid green; */
  margin-top: 20px;
}

.SectionTitleLink {
  color: #000000;
  font-weight: bold;
  padding-left: 30px;
}

.SectionTitleLink:active,
a:visited,
a:link {
  text-decoration: none;
}

.SectionTitleLink:hover {
  text-decoration: underline;
}

.secNewsRouteCont {
  /* border: 1px solid blue; */
}

.horizontalNews {
  /* border: 1px solid orangered; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.myRightCont {
  /* border: 1px solid green; */
  margin-top: 5px;
}
