#nlb-individual-container {
  border-top: solid 1px lightgray;
  width: 70vw;
  display: flex;
  flex-direction: rows;
  justify-content: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#nlb-date-container {
  width: 15vw;
}

#nlb-date-container p {
  margin-top: 0px;
  font-size: xx-small;
  font-weight: bold;
  color: gray;
}

#nlb-title-container {
  width: 40vw;
}

#nlb-title-container-section {
  margin-top: 0px;
  font-size: xx-small;
  color: black;
  margin-bottom: 0px;
}

#nlb-title-container-headline {
  margin-top: 10px;
  font-size: large;
  color: black;
  cursor: pointer;
  list-style-type: none;
}

#nlb-title-container-headline:hover {
  text-shadow: 2px 2px 3px gray;
}

#nlb-img-container {
  width: 15vw;
}

#nlb-img-container img {
  width: 15vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
}
