#search-container {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-container input {
  line-height: 2em;
  width: 20em;
}

#search-container button {
  line-height: 25px;
  border-radius: 3px;
  background-color: #567b95;
  color: #ffffff;
  font-weight: bold;
}

#search-container * {
  margin: 5px 5px;
}
