.myRightCont {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    width: 410px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
}

.myRightFigure {
    /* padding-left: 25px;
    padding-top: 5px; */
    background-color: black; 
}

.myRightImage {
    height: 200px;
    width: 350px;
}

.myRightFigCap {
    height: auto;
    width: 350px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7px;
    font-weight: normal;
    background-color: black;
    color: white;
}

.myRightSecName {
    font-size: 10px;
    font-weight: bold;
    padding-left: 5px;
}


.myRightTitle {
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}

.myRightPara {
    font-size: 12px;
    font-weight: bold;
    padding-left: 13px;
    width: 350px;
    text-align: justify;
}

