.singContainer {
    display: flex;
    flex-direction: row;
}

.mySingleCont {
    height: auto;
    width: 950px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
}


.mySingleFigure {
    height: 470px;
    width: 8500px;
    padding-top: 5px;
}

.mySingleImage {
    height: 450px;
    width: 850px;
}

.mySingleFigCap {
    height: 75px;
    width: 850px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: normal;
}

.mySingleSecName {
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
}

.mySingleLinkArt {
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 30px;
}


.mySingleTitle {
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
    width: 850px;
}

.mySinglePara {
    font-size: 15px;
    font-weight: bold;
    padding-left: 25px;
    width: 850px;
    text-align: justify;
}

.mySingleParCont {
    border-top-color: grey;
    border-bottom-color: grey;
    border-top-style: solid;
    border-top-width: 2px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: 95%;
    margin: 10px;
}