#weather-temperature-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#weather-icon {
  width: 15%;
}

#weather-temperature-container img {
  margin-top: 0px;
}

#weather-temperature-container p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: large;
  padding-left: 10px;
}

.weather-text {
  font-size: x-small;
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: right;
}
